*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.html linguist-detectable
*.css linguist-detectable
*.js linguist-detectable
*.css linguist-generated=false
*.js linguist-generated=false
